body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center; 
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
  font-family: sans-serif;
}

.blog-post-card {
  border-radius: 10px;
  width: 50%;
  height: 30%;
  background: white;
  text-align: center;
}
img {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid greenyellow;
    border-radius: 20px;
}

.post-content {
    background: white;
    margin: 0; 
    padding: 5px;
    /* line-height: 2; */
}

h2 {
    font-family: impact;
    text-align: center;
}

.post-excerpt {
    color: black;
    text-align: center;
    margin: 10px;
}

.post-title {
    color: black;
    margin: 10px;
}


.read-more {
    text-decoration: none;
    background: white;
    margin: 0;
    display: inline-block;
    color: black;
    padding: 0;
    border-radius: 5px solid red;
    font-size: 25px;
}

.read-more:link {
    color: black;
}

.read-more:visited {
    color: greenyellow;
}

.read-more:hover {
    color: red;
    background : white;
}

.read-more {
    margin: 2px;
    padding: 2px;
    border: 2px dotted greenyellow;
    border-radius: 15px;
}