body {
    background-color: rgb(36, 88, 88);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: whitesmoke;
}

h2 {
    color: white;
    text-align: center;
    font-size: 2rem;
}

.container {
    width: 70%;
    margin: 30px auto;
}

label:not(.radio-btn) {
    display: block;
    margin-top: 20px;
}

input:not(.radio-bt), textarea, select {
    width: 95%;
    height: 40px;
    margin-top: 10px;
    background-color: cadetblue;
    margin-left: auto;
    margin-right: auto;
}   

input:not(.radio-bt), select, fieldset, textarea{
    border: 2px solid white;
    box-shadow: 0 2px 2px 0 black;
}

label, legend {
    color: black;
    font-size: 1.4rem;
}

button {
    display: block;
    width: 80%;
    margin: 20px auto;
    padding: 10px 30px;
    font-size: 1.2rem;
    background-color: green;
    transition: all 0.3s ease;
}

fieldset {
    width: 88%;
    padding: 30px;
    height: 40px;
    margin-top: 10px;
    background-color: cadetblue;
}

input,select, textarea::placeholder {
    color: white;
    font-size: 1rem;
}

input:first-of-type {
    font-size: 1.2rem;
}

select option:disabled {
    color: white;
}

.radio-bt {
    appearance: none;
    height: 20px;
    width: 20px;
    background-color: white;
    border-radius: 50px;
    vertical-align:top;
    position: relative;
}

.radio-bt:checked + .radio-btn {
    color: green;
}

.radio-bt:checked {
    outline: 2px solid green;
}


.radio-bt::before {
    content: " ";
    position: absolute;
    height: 12px;
    width: 12px;
    border-radius: 50px;
    transform: translate(3px , 3px) scale(0) ;
    transition: all 0.3s ease;
}

.radio-bt:checked::before {
    transform: translate(3px, 3px) scale(1);
    background-color: green;
    
}

input {
    border: 1px solid;
    outline: none;
}

.radio-group input[type="radio"]:checked {
    box-shadow: 0 1px 1px 0 green;
    background-color: white;
    border-color: transparent;

}

button:hover {
    background-color: aquamarine;
    border: 2px solid white;
    outline: 1px solid black;
    outline-offset: 2px;
    box-shadow: 0 2px 2px 0 black;
    color: white;
}

input, textarea {
    
    outline: none;
}

input:focus,
textarea:focus {
  border-color: black;
}

input:invalid,
select:invalid,
textarea:invalid {
  border-color: red;
  border-width: 1px;
  border-style: solid;
}

input:valid,
select:valid,
textarea:valid {
  border-color: green;
  border-width: 2px;
  border-style: solid;
}
