body {
    background-color: rosybrown;
    font-family: Arial, sans-serif;
}

.business-card {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border: 2px solid black;
    padding: 20px;
    margin-top: 100px;
}

.full-name {
    color: green;
    font-size: 25px;
}
.designation {
    color: lightgreen;
    font-size: 20px;
}
.company {
    color: grey;
}

.profile-image {
    width: 200px;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

p {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}


.portfolio {
    display: block;
    text-decoration: none;
    text-align: center;
}

.social-media {
    text-align: center;
}

.social-media a {
    color: rgb(0, 255, 106);
    margin-left: 20px;
    text-decoration: none;
}

hr {
    margin-top: 15px;
    margin-bottom: 15px;
    height: 2px;
    background-color: green;
}